<div class="row">
  <div class="col-md-6"> <span>ID: <strong>{{devedor_id}} - {{nome_cliente}} </strong></span> </div>
  <div class="col-md-6 text-right">
    <!-- <button class="btn btn-success btn-sm" (click)="open(telefoneModal)"">Novo</button> -->
    <button class="btn btn-outline-success btn-sm btn-rounded mb-1" (click)="open(telefoneModal)"><i class="icofont-phone"></i>
      Novo Telefone</button>
  </div>
</div>

<div class="card-devedor mt-3">
  <table id="tabelaFone" [dtOptions]="dtOptions" [dtTrigger]='dtTriggerFone' datatable class="table table-sm mt-2">
    <thead class="thead-default-jca">
      <tr>
        <th scope="col">Tipo</th>
        <th scope="col">Número</th>
        <th scope="col">Prior.</th>
        <th scope="col">Observação</th>
        <th scope="col">Ação</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let a of fonesCliente">
        <td>{{ a.DESCRICAO }}</td>
        <td>{{ a.FONE }}</td>
        <td>{{ cnvertTipo(a.PRIORITARIO) }}</td>
        <td>{{ a.OBSE }}</td>
        <td>
          <button class="btn btn-sm btn-outline-primary mr-2" ngbTooltip="Editar Fone"
            (click)="editarFone(telefoneModal, a)">
            <i class="icofont-ui-edit"></i>
          </button>
          <button class="btn btn-sm btn-outline-danger mr-2" ngbTooltip="Excluir Fone"
            (click)="excluirFone(modalConfirm, a.FONE)">
            <i class="icofont-trash"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<!-- MODAL DE TELEOFNES -->
<ng-template #telefoneModal let-modal>

  <div class="modal-header" [ngStyle]="{'background': colorModal}" style="padding-top: 5px; padding-bottom: 5px;">
    <h4 class="modal-title" id="modal-basic-title" style="color: #fff"> <i class="icofont-phone"></i> {{title}} telefone</h4>
    <button type="button" class="close" aria-label="Close" style="color: #FFF" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="validacao">
      <ul *ngIf="campos_invalidos">
        <li class="campo_obrigatorio" *ngFor="let r of retornoMensagem">{{r.Message}}</li>
      </ul>
    </div>
    <form [formGroup]="formTelefone">
      <div class="row">
        <div class="col-md-4 form-group">
          <label for="tipo">Tipo</label>
          <select class="form-control" formControlName="TIPO" (blur)="validaTelefone()" (click)="validaTelefone()" >
            <option *ngFor="let tipo of tipoFone" value="{{tipo.TIPO_FONE_ID}}"> {{ tipo.DESCRICAO }}</option>
          </select>
        </div>

        <div class="col-md-4 form-group pl-0">
          <label for="fone">Telefone <span class="campo_obrigatorio"> * </span>
            <ng-template #popContent>Se o tipo for um celular deve conter <b>11 digitos</b> Ex: 85988775522<br>
              Se for fixo deve conter <b>10 digitos</b> Ex: 8532332323 <br>
              Lembrando que para classificar um número como whatsapp o tipo de fone deve ser celular.
              <b>O botão para salvar só será liberado após os campos serem preenchidos corretamente. </b>
            </ng-template>
            <span class="badge badge-secondary" [ngbPopover]="popContent" triggers="mouseenter:mouseleave" placement="right"
            popoverTitle="Ajuda"> ?</span> 
          </label>
          <input type="text" class="form-control" formControlName="FONE" (keyup)="validaTelefone()" (keypress)="somenteNumeros($event)" maxlength="11">
        </div>

        <div class="col-md-4 form-group pl-0">
          <label for="status">Status</label>
          <select class="form-control" formControlName="STATUS">
            <option value="0">Positivo</option>
            <option value="1">Negativo</option>
            <option value="2">Inconssistente</option>
          </select>
        </div>

        <div class="col-md-2 form-group ">
          <label for="whatsapp">Whatsapp</label>
          <select class="form-control" formControlName="SE_WHATSAPP" (blur)="validaTelefone()" (click)="validaTelefone()">
            <option value="1">Sim</option>
            <option value="0">Não</option>
          </select>
        </div>

        <div class="col-md-2 form-group pl-0">
          <label for="prioritario">Prioritário</label>
          <select class="form-control" formControlName="PRIORITARIO">
            <option value="1">Sim</option>
            <option value="0">Não</option>
          </select>
        </div>

        <div class="col-md-8 form-group pl-0">
          <label for="fone">Observação</label>
          <input type="text" class="form-control" formControlName="OBSE">
        </div>

      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-danger btn-rounded" (click)="modal.close('Save click')"> <i
        class="icofont-close-circled"></i> Fechar </button>
    <button type="submit" class="btn btn-outline-primary btn-rounded" (click)="salvarTelefone()" [disabled]="foneValido == false"> <i
        class="icofont-check"></i> Salvar</button>
  </div>
</ng-template>

<!-- MODAL PARA CONFIRMAÇÃO DA EXCLUSÃO DE FONE -->
<ng-template #modalConfirm let-modal>
  <div class="modal-header" style="background: #d22346">
    <h4 class="modal-title" id="modal-title" style="color: #FFF"> Exclusão de Telefone </h4>
    <button type="button" class="close" aria-label="Close button" style="color: #FFF" aria-describedby="modal-title"
      (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="text-center">
      <img src="/src/assets/images/icons/detele.svg" width="80">
    </div>
    <p class="text-center mt-4"><strong>Confirma a exclusão do telefone <span
          class="text-primary">"{{fone_exclusao}}"</span>?</strong></p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary btn-rounded"
      (click)="modal.dismiss('cancel')">Cancelar</button>
    <button type="button" ngbAutofocus class="btn btn-danger btn-rounded" (click)="modal.close('Ok')">Confirmar</button>
  </div>
</ng-template>