<div class="row mb-2">
  <div class="col-md-12">
    <!-- BOTÃO DROPDOWN DE AÇÕES -->
    <div ngbDropdown placement="bottom-left" class="d-inline-block">
      <button class="btn-group btn btn-outline-primary" role="group" id="dropdownBasic1" placement="top"
        ngbTooltip="Ações" ngbDropdownToggle>
        <i class="icofont-medical-sign"></i>
      </button>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
        <button class="dropdown-item" ngbDropdownItem (click)="openModalCadastrar(emailModal)">
          <i class="icofont-medical-sign"></i> Cadastrar
        </button>
        <button class="dropdown-item" ngbDropdownItem (click)="modalEditarEmail(emailModal)">
          <i class="icofont-edit"></i> Editar
        </button>
        <button class="dropdown-item" ngbDropdownItem (click)="moodalExcluirEmail(modalConfirm)">
          <i class="icofont-trash"></i> Excluir
        </button>
      </div>
    </div>
    <!-- FIM DOS BOTÕES DE AÇÕES -->
  </div>
</div>

<!-- TABELA E-MAILS -->
<div style="overflow: auto; height: 140px">
  <table id="tabelaEmail" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-sm table-hover">
    <thead class="thead-light">
      <tr>
        <th scope="col"> E-mail </th>
        <th scope="col"> Tipo </th>
        <th scope="col"> Situação </th>
        <th scope="col"> Origem </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let email of listaEamils; let idx=index;" (click)="selecionarLinha(email, $event, idx)"
        style="cursor: pointer" [ngClass]="{'active' : email.EMAIL_ID == linha}">
        <td> {{email.EMAIL}} </td>
        <td> {{email.TIPO}} </td>
        <td> {{email.SITUACAO}} </td>
        <td> {{email.ORIGEM}} </td>
      </tr>
    </tbody>
  </table>
</div>
<!-- FIM DA TABELA DE E-MAILS -->

<!-- MODAL DE EMAIL -->
<ng-template #emailModal let-modal>
  <div class="modal-header" [ngStyle]="{'background': colorModal}" style="padding-top: 5px; padding-bottom: 5px;">
    <h4 class="modal-title" id="modal-basic-title" style="color: #fff"><i class="icofont-ui-email"></i> {{title}} E-mail
    </h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true" style="color: #fff">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="validacao">
      <ul *ngIf="campos_invalidos">
        <li class="campo_obrigatorio" *ngFor="let r of retornoMensagem">{{r.Message}}</li>
      </ul>
    </div>
    <form [formGroup]="formEmail">
      <div class="row">
        <div class="col-md-4 form-group">
          <label for="tipo">Situação</label>
          <select class="form-control" formControlName="SITUACAO">
            <option value="P">Positivo</option>
            <option value="N">Negativo</option>
            <option value="C">Não Confirmado</option>
          </select>
        </div>

        <div class="col-md-6 form-group">
          <label for="fone">E-mail <span class="campo_obrigatorio">*</span></label>
          <input type="text" class="form-control" formControlName="EMAIL" required autofocus="true">
        </div>

        <div class="col-md-2 form-group">
          <label for="tipo">Tipo</label>
          <select class="form-control" formControlName="TIPO">
            <option value="D">Devedor</option>
            <option value="L">Aluno</option>
            <option value="A">Avalista</option>
            <option value="C">Cônjuge</option>
          </select>
        </div>

      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-primary btn-rounded" (click)="salvarEmail()"
      [disabled]="formEmail.invalid"> <i class="icofont-check"></i> Salvar</button>
    <button type="button" class="btn btn-outline-danger btn-rounded" (click)="modal.close('Save click')"> <i
        class="icofont-close-circled"></i> Fechar </button>
  </div>
</ng-template>
<!-- FIM DO MODAL -->

<!-- MODAL PARA CONFIRMAÇÃO DA EXCLUSÃO DE EMAIL -->
<ng-template #modalConfirm let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-title"> Exclusão de E-mail </h4>
    <button type="button" class="close" aria-label="Close button" aria-describedby="modal-title"
      (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="text-center">
      <img src="/src/assets/images/icons/detele.svg" width="80">
    </div>
    <p class="text-center mt-4"><strong>Confirma a exclusão do e-mail <span
          class="text-primary">"{{email_exclusao}}"</span>?</strong></p>
  </div>
  <div class="modal-footer">
    <button type="button" ngbAutofocus class="btn btn-danger btn-rounded" (click)="modal.close('Ok')">Confirmar</button>
    <button type="button" class="btn btn-outline-secondary btn-rounded"
      (click)="modal.dismiss('cancel')">Cancelar</button>
  </div>
</ng-template>
<!-- FIM DO MODAL DE EXCLUIR E-MAIL -->