<div class="">
    <div class="breadcrumb">
        
        <ul>
           <h1> <li><i class="i-Pie-Chart-3"></i> <a href="">ActyonData</a></li></h1>
        </ul>
    </div>

    <div class="separator-breadcrumb border-top"></div>

    <!-- <div class="dash_jca text-center">
        <img src="/src/assets/images/logo_jca.png">
    </div> -->


    <div class="container text-center">
        
        <img class="img-fluid" src="./assets/images/LogoActyonDataNome.png" style="width: 50%">
        <div class="text-center">
            <a href="http://jcasolucoes.com.br" target="_blank">
                
            </a>
        </div>
    </div>

</div>

