<div class="">

    <div class="row"  > 
        <div class="col-md-12 perfil">
      
              <div style="padding-bottom: 2px">
                  <div class="col-md-12">
                    <div class="row">
      
                        <div class="col-md-6" style="text-align: center;padding-top: 20px;"> 
                            <div class="card mb-6" style="height: 150px;background-color: #00c1e4; color:white" >
                                <div class="card-body pb-0" style="text-align: left; padding: 0.25rem;">
                                  <div class="card-title negrito"style="text-align: center">  <strong style="color:white; font-size: 32px"><i class="icofont-headphone-alt" style="margin-top:15%"></i > DISCAGEM - ATIVA</strong> </div>
                                  <hr style="color: white">
                                  <div class="card-title negrito" style="text-align: center">  <strong style="color:white; font-size: 52px"> {{DiscagemAtiva}}</strong>    </div>
                       
                                </div>
                              </div>                                                                      
                        </div>
      
                        <div class="col-md-6 "  style="text-align: center;padding-top: 20px">                  
                            <div class="card mb-6" style="height: 150px;background-color: #00c1e4; " >
                                <div class="card-body pb-0" style="text-align: left; padding: 0.25rem;">
                                    <div class="card-title negrito"style="text-align: center">  <strong style="color:white; font-size: 32px"><i class="icofont-headphone-alt" style="margin-top:15%"></i > DISCAGEM - UNIQUE</strong> </div>
                                    <hr style="color: white">
                                    <div class="card-title negrito" style="text-align: center">  <strong style="color:white; font-size: 52px"> {{DiscagemUnique}}</strong>    </div>
                         
                                  </div>
                              </div>                                                         
                        </div>
    
                    </div>  
      
                  </div>
              </div>
        </div>
      </div>

</div>

      
<div class="row"  > 
    <div class="col-md-12 perfil">

          <div style="padding-bottom: 2px">
              <div class="col-md-12">
                <div class="row">

                    <div class="col-md-3" style="text-align: center;padding-top: 20px;"> 
                        <div class="card mb-3" style="height: 150px;background-color: #00c1e4; color:white" >
                            <div class="card-body pb-0" style="text-align: left; padding: 0.25rem;">
                                <div class="card-title negrito"style="text-align: center">  <strong style="color:white; font-size: 32px"><i class="icofont-exchange" style="margin-top:15%"></i > SPIN </strong> </div>
                                <hr style="color: white">
                                <div class="card-title negrito" style="text-align: center">  <strong style="color:white; font-size: 52px"> {{Spin}}</strong>    </div>
                     
                              </div>
                          </div>                                                                      
                    </div>

                    <div class="col-md-3"  style="text-align: center;padding-top: 20px">                  
                        <div class="card mb-3" style="height: 150px;background-color: #3368ad; color:white" >
                            <div class="card-body pb-0" style="text-align: left;">
                                <div class="card-title negrito">  <strong style="color:white;font-size: 22px"><i class="icofont-headphone-alt"></i> ALO: {{AloAtivo}}%</strong>     </div>
                              
                                <div class="card-title negrito">  <strong style="color:white;font-size: 22px"><i class="icofont-users-alt-6"></i> CPC: {{CpcAtivo}}% </strong>     </div>
                                
                                <div class="card-title negrito">  <strong style="color:white;font-size: 22px"><i class="icofont-handshake-deal"></i> ACORDO: {{CpcaAtiva}}% </strong>     </div>
    
                                
                              </div>
                          </div>                                         
                    </div>
                    <div class="col-md-3 "  style="text-align: center;padding-top: 20px">                  
                        <div class="card mb-3" style="height: 150px;background-color: #00c1e4; " >
                            <div class="card-body pb-0" style="text-align: left; padding: 0.25rem;">
                                <div class="card-title negrito"style="text-align: center">  <strong style="color:white; font-size: 32px"><i class="icofont-user-male" style="margin-top:15%"></i > CPFs </strong> </div>
                                <hr style="color: white">
                                <div class="card-title negrito" style="text-align: center">  <strong style="color:white; font-size: 52px"> {{QuantidadeCpf}}</strong>    </div>
                     
                              </div>
                          </div>                                                         
                    </div>

                    <div class="col-md-3 "  style="text-align: center;padding-top: 20px">                  
                      <div class="card mb-3" style="height: 150px;background-color: #3368ad; " >
                          <div class="card-body pb-0" style="text-align: left;">
                            <div class="card-title negrito">  <strong style="color:white;font-size: 22px"><i class="icofont-headphone-alt"></i> ALO: {{AloUnique}}%</strong>     </div>
                          
                            <div class="card-title negrito">  <strong style="color:white;font-size: 22px"><i class="icofont-users-alt-6"></i> CPC: {{CpcUnique}}% </strong>     </div>
                            
                            <div class="card-title negrito">  <strong style="color:white;font-size: 22px"><i class="icofont-handshake-deal"></i> ACORDO: {{CpcaUnique}}% </strong>     </div>

                            
                          </div>
                        </div>                                                         
                  </div>

                </div>  

              </div>
          </div>
    </div>
</div>


<div class="row">
  <!-- CARD DE PERFIS -->
  <div class="col-md-6 perfil">
    <div class="card mb-3" style="height: 300px" >
      <div class="card-body pb-0">
        <div class="card-title negrito"> <i class="icofont-live-support"></i> Cartira Ativa - Esforço
          <!-- <input type="button" style="float: right" class="btn btn-sm btn-primary" value="%" (click)='TaxaDeConversao()' ngbTooltip="Conversão">  -->
        </div>
        <hr>
        <div style="padding-bottom: 2px">
          <div id="chartContainer3" style="height: 220px; " ></div>
        </div>            
        
      </div>
    </div>
  </div>
  

  <div class="col-md-6 perfil">
    <div class="card mb-3" style="height: 300px" >
      <div class="card-body pb-0">
        <div class="card-title negrito"> <i class="icofont-live-support"></i> Cartira Unique - Esforço 
          <!-- <input type="button" style="float: right" class="btn btn-sm btn-primary" value="%" (click)='TaxaDeConversao()' ngbTooltip="Conversão">  -->
        </div>
        <hr>
        <div style="padding-bottom: 2px">
          <div id="chartContainer4" style="height: 220px; " ></div>
        </div>            
        
      </div>
    </div>
  </div>
  
</div>

<div class="row">
    <!-- CARD DE PERFIS -->
    <div class="col-md-6 perfil">
      <div class="card mb-3" style="height: 300px" >
        <div class="card-body pb-0">
          <div class="card-title negrito"> <i class="icofont-live-support"></i> Cartira Ativa 
            <!-- <input type="button" style="float: right" class="btn btn-sm btn-primary" value="%" (click)='TaxaDeConversao()' ngbTooltip="Conversão">  -->
          </div>
          <hr>
          <div style="padding-bottom: 2px">
            <div id="chartContainer" style="height: 220px; " ></div>
          </div>            
          
        </div>
      </div>
    </div>
    
  
    <div class="col-md-6 perfil">
      <div class="card mb-3" style="height: 300px" >
        <div class="card-body pb-0">
          <div class="card-title negrito"> <i class="icofont-live-support"></i> Cartira Unique 
            <!-- <input type="button" style="float: right" class="btn btn-sm btn-primary" value="%" (click)='TaxaDeConversao()' ngbTooltip="Conversão">  -->
          </div>
        
          <div style="padding-bottom: 2px">
            <hr>
            <div id="chartContainer2" style="height: 220px; " ></div>
          </div>            
          
        </div>
      </div>
    </div>
    
  </div>