<div class="row">
  <!-- CARD DE PERFIS -->
  <div class="col-md-12 perfil">
    <div class="card mb-3" style="height: 300px" >
      <div class="card-body pb-0">
        <div class="card-title negrito"> <i class="i-Administrator"></i> RANKING CARTEIRAS - <label >TOTAL RECEBIDO <strong style="color:green">R$  {{valorRecebido}}</strong></label>
          <!-- <input type="button" style="float: right" class="btn btn-sm btn-primary" value="%" (click)='TaxaDeConversao()' ngbTooltip="Conversão">  -->
        </div>
        <hr>
        <div style="padding-bottom: 2px">
          <div id="chartContainer" style="height: 220px; " ></div>
        </div>            
        
      </div>
    </div>
  </div>
  


</div>