.card-amarelo {
    background: #fff6da!important;
    padding: 10px!important;
}

.card-azul {
    background: #eaf2ff!important;
    padding: 10px!important;
}

.card-header-divida {
    padding-bottom: 6px;
    padding-top: 6px;
    background: #4262a6;
    color: #fff;
    font-weight: bold;
}

.tamanho-card {
    height: 135px!important;
}
